<header>
    <nav>
        <% if (user) { %>
            <a href="/userPage"><%= user.email %></a>  
        <% } %>
        
        <div id="logout-container">
            <% if (user) { %>
                <button id="logoutButton">Log Out</button>
            <% } %>
        </div>

        <% if (!user) { %>
            <a href="/login">Log In</a>
        <% } %>

        
    </nav>
</header>

<script src="/javascript/logout.js"></script>
