<header>
    <nav>
        <% if (username) { %>
            <a href="/userPage"><%= username %></a>
            <button id="logoutButton">Log Out</button>
        <% } else { %>
            <a href="/login">Log In</a>
        <% } %>
    </nav>
</header>

<script src="/javascript/logout.js"></script>
