<!DOCTYPE html>
<html lang="en">
<head>
    <% include('./partials/head'); %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header"); %>

    <main class="row">
        <nav class="col-12 col-md-3">
            <h3>Categories:</h3>
            <ul>
                <li>
                    
                </li>
            </ul>
        </nav>
        <div class="col-12 col-md-9">
            <% categories.forEach(category => { %>
                <h4><%= category.category </h4>
                <% category.questions.forEach(question => { %>
                    <% switch (question.question_type) { %>
                        <% case '': %>

                        <% break; %>
                        <% case '': %>

                        <% break; %>
                        <% case '': %> 
                        
                        <% break; %>
                    <% } %>
                <% }); %>

            <% }); %>
        </div>
    </main>

    <%- include("./partials/footer"); %>
</body>
</html>