<!DOCTYPE html>
<html lang="en">
<head>
    <% include('./partials/head'); %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header"); %>

    <main class="row">
        <nav class="col-12 col-md-3">
            <h3>Categories:</h3>
            <ul>
                <li>
                    
                </li>
            </ul>
        </nav>
        <div class="col-12 col-md-9">

        </div>
    </main>

    <%- include("./partials/footer"); %>
</body>
</html>