<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Document</title>
</head>
<body>
    <%- include("./partials/header"); %>

    <h1>Welcome to Rage Against the Recruiters!</h1>

    <a href='/signup'>Sign Up Here!</a>

    <%- include("./partials/footer"); %>  
</body>
</html>